# Node
node_modules
npm-debug.log
yarn-error.log
.pnpm-store

# Build outputs
dist
.turbo
.next
coverage

# Environment
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests
**/*.test.ts
**/*.spec.ts
__tests__
test-results

# Documentation
docs
*.md
!README.md

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore
